.card {
    width: 1200px;
    height: 384px;
    position: relative;
    overflow: hidden;
}

.card img {
    object-fit: cover;
}

.card .p-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 1rem;
}